// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown{
    position: absolute;
    display: none;
    top: 10px;
    right: 0px;
    z-index: 5;
    width: 150px;
    background: $dark-gray;
    box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.50);
    li ul li{
        color: $light-gray;
    }
    li:hover{
        background-color: $light-gray;
    }
}

#gear-button:hover + .gear-dropdown{
    background-color: $light-gray;
    display: block;

}
.gear-dropdown:hover{
    display: block;
}

#gear-button:hover{
    display:block;
}


