// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown{
    position: absolute;
    display: none;
    top: 10px;
    right: 0px;
    z-index: 5;
    width: 150px;
    color: $light-gray;
    background: $dark-gray;
    box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.50);
    li ul li a, li ul span, .dropdown-subtitle{
        // padding: 0 0 20px 10px;
        text-transform: uppercase;
        color: $gray;
    }
    .editions{
        border-bottom: 1px solid $gray;
    }
    li{
        padding: 0 20px 10px 5px;
    }

    li:hover{
        background-color: $light-gray;
    }
    .dropdown-subtitle{
        color: $dark-gray;
        font-size: 12px;
    }
}

#gear-button:hover + .gear-dropdown{
    background-color: $light-gray;
    display: block;

}
.gear-dropdown:hover{
    display: block;
}

#gear-button:hover{
    display:block;
}


