.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px $light-gray solid;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      padding-top: 5px;
      margin-left: 20px;
    }
  }

  span {
   
  }
}

.right-nav  {

  > ul {

    > li {
      margin-right: 5px;
    }

    > li:last-of-type {
      position: relative;
    }
  }
  
  i {
    background-color: $lightest-gray;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover, .right-nav i:hover {
  background-color: $gray;
}
